[submodule "testing/Shremote"]
	path = testing/Shremote
	url = https://github.com/isaac-ped/Shremote.git
[submodule "testing/overhead_benchmark/Memoizer"]
	path = testing/overhead_benchmark/Memoizer
	url = https://github.com/isaac-ped/Memoizer.git
[submodule "testing/memcached/analysis/Memoizer"]
	path = testing/memcached/analysis/Memoizer
	url = https://github.com/isaac-ped/Memoizer
[submodule "testing/e2e/analysis/Memoizer"]
	path = testing/e2e/analysis/Memoizer
	url = https://github.com/isaac-ped/Memoizer.git
